---
import { getCollection } from 'astro:content';
import MainLayout from '@layouts/MainLayout.astro';

let quotes = await getCollection('quotes');
quotes = quotes.sort((a, b) => {
  if (new Date(a.data.pubDate) < new Date(b.data.pubDate))
    return 1;
  if (new Date(a.data.pubDate) > new Date(b.data.pubDate))
    return -1;
  return 0;
});
---

<MainLayout
  title="Quotes | Jose Vigil"
  description="Jose Vigil's dates"
  image=""
>
  <h2 class="dark:text-white">
    Quotes
  </h3>
  <section>
    <div class="quotes">
      <ul>
        <section>
          <div class="quotes">
              <ul><p class="mb-3">
                <p style="font-weight:400; font-style:italic; padding-top:10px;">Experience and Vision</p>
              </p>
            </ul>
            <ul>
              {
                quotes.map(e => (
                  <li>
                    <a href={`/quotes/${e.slug}`} title="">{ e.data.title }</a>
                  </li>
                ))
              }
            </ul>
          </div>
        </section>
      </ul>
    </div>
  </section>
</MainLayout>
