---
import { getCollection } from 'astro:content';
import MainLayout from '@layouts/MainLayout.astro';

let previous = await getCollection('previous');
previous = previous.sort((a, b) => {
  if (new Date(a.data.pubDate) < new Date(b.data.pubDate))
    return 1;
  if (new Date(a.data.pubDate) > new Date(b.data.pubDate))
    return -1;
  return 0;
});
---

<MainLayout
  title="previous | Jose Vigil"
  description="Jose Vigil's previous"
  image="">
  <h2 class="dark:text-white">
    Previous
  </h3>
  <p class="mb-3">
    Previous projects and startups I have built, worked and experienced with.
  </p>
  <section>
    <div class="previous">
      <ul>
        {
          previous.map(e => (
            <li>
              <a href={`/previous/${e.slug}`} title="">{ e.data.title }</a>
            </li>
          ))
        }
      </ul>
    </div>
  </section>
</MainLayout>
