---
import MainLayout from '@layouts/MainLayout.astro';

---

<MainLayout
  title="Home | Jose Vigil"
  description="Jose Vigil's personal and professional website"
  image=''
>
  <h1 class="text-gradient">
    Blog
  </h1>
  <div>

  </div>
</MainLayout>

<style>

</style>
