.main-article-content {
    a:hover, a:focus {
        opacity: .8;
        text-decoration: underline;
    }
    ul {
        list-style: none;
        padding: revert;
        margin-bottom: 15px;

        li {
            font-weight: 300;
        }
    }
    ul li::before {
        color: var(--black);
        content: "\2022";
        font-weight: bold;
        display: inline-block;
        width: 1em;
        margin-left: -1em;
    }
    p {
        margin-bottom: 15px;

        code {
            color: white;
            background-color: var(--black);
            border-radius: 5px;
            padding: 2px;
            box-shadow: 0 3px 6px #00000029;
        }
    }
    pre {
        padding: 15px;
        border-radius: 5px;
        margin-bottom: 15px;
        box-shadow: 0 3px 6px #00000029;
    }
    blockquote {
        font-style: italic;
        border-left: 3px solid var(--black);
        padding: 5px 0 1px 15px;
        margin-bottom: 15px;
    }
    p a {
        color: rgb(255, 71, 4);
        text-decoration: none;
    }

}
/** .main-article-content affects while mode while .dark affects dark mode **/

.dark .main-essays-content {
    blockquote {
        border-left: 3px solid var(--white);
    }
    ul li::before {
        color: var(--white);
    }
    p a {
        color: rgb(134, 237, 50);
        text-decoration: none;
    }
}

.dark .main-projects-content {
    blockquote {
        border-left: 3px solid var(--white);
    }
    ul li::before {
        color: var(--white);
    }
    p a {
        color: rgb(50, 193, 237);
        text-decoration: none;
    }
}

.dark .main-previous-content {
    blockquote {
        border-left: 3px solid var(--white);
    }
    ul li::before {
        color: var(--white);
    }
    p a {
        color: rgb(237, 215, 50);
        text-decoration: none;
    }
}

.dark .main-started-content {
    blockquote {
        border-left: 3px solid var(--white);
    }
    ul li::before {
        color: var(--white);
    }
    p a {
        color: rgb(237, 50, 159);
        text-decoration: none;
    }
}







