---
import MainLayout from '@layouts/MainLayout.astro';

---

<MainLayout
  title="Home | Jose Vigil"
  description="Jose Vigil's personal and professional website"
  image=''
>
  <h1 class="dark:text-white">
    Jose Vigil
  </h1>
  <div>

  </div>
</MainLayout>

<style>

</style>
