---
import { getCollection } from 'astro:content';
import MainLayout from '@layouts/MainLayout.astro';
import Emoji from 'astro-emoji';

let essays = await getCollection('essays');
essays = essays.sort((a, b) => {
  if (new Date(a.data.pubDate) < new Date(b.data.pubDate))
    return 1;
  if (new Date(a.data.pubDate) > new Date(b.data.pubDate))
    return -1;
  return 0;
});

---

<MainLayout
  title="Home | Jose Vigil"
  description="Jose Vigil's personal and professional website"
  image="../images/josevigil_400x400.png"
>
  <h2 class="dark:text-white">
    I'm Jose
  </h2>
  <section class="grid grid-cols-1 gap-5 lg:grid-cols-3 lg:gap-8">
    <div class="lg:col-span-2">
      <p class="mb-3">
        Curious. Self-Learner. Hands on technology.
      </p>
      <p class="mb-3">
        Currently leading <a href="https://nenes.io" target="_blank">nenes.io</a>, ceo at <a href="https://notimation.com" target="_blank">notimation.com</a>, building <a href="https://uitool.com" target="_blank">uitool.com</a>, working with crypto whyle training talents in our school of genius at <a href="https://maular.com" target="_blank">maular.com</a>. Super exciting trip to join! 🚀</a>
      </p>
      <hr>
      <h3 class="dark:text-white">
        Essays
      </h3>
      <div class="essays">
        <ul>
          {
            essays.map(e => (
              <li>
                <a href={`/essays/${e.slug}`} title="">{ e.data.title }</a>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
    <div class="order-first md:order-last">
      <img src="../images/josevigil_400x400.png" class="rounded-full m-auto" alt="Jose Vigil" />
      <p class="text-lg dark:text-white text-center mt-3">Creative, living my dreams ..<Emoji symbol="💭" label="dream"/></p>
    </div>
  </section>
</MainLayout>
