---
import MainLayout from '@layouts/MainLayout.astro';

---

<MainLayout
  title="Home | Jose Vigil"
  description="Jose Vigil's personal and professional website"
  image=''
>
  <h1 class="dark:text-white">
    Jose Vigil
  </h1>
  <div class="grid grid-cols-1 gap-5 lg:grid-cols-3 lg:gap-8">
    <div class="lg:col-span-2">
      <p class="dark:text-white">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda tempora sunt iste quia officia illo obcaecati esse alias, nihil corrupti animi cupiditate adipisci temporibus aliquam quaerat vitae culpa, vel omnis.
      </p>
    </div>
    <div class="">
      <img src="https://i.pravatar.cc/300" alt="Jose Vigil" />
    </div>
  </div>
</MainLayout>

<style>

</style>
