---
import MainLayout from '@layouts/MainLayout.astro';
import { collections } from '@content/config';

const colls = Object.keys(collections);
---

<MainLayout
  title="Home | Jose Vigil"
  description="Jose Vigil's personal and professional website"
  image=''
>
  <p class="dark:text-white">Essays</p>
  <h1 class="dark:text-white">
    Categories
  </h1>
  <section>
    <ul class="essays">
      {
        colls.map((c: string) => (
          <li>
            <a href={`/essays/${c}`} class="essay dark:text-white" title={`Essays ${c}`}>
              {c}
            </a>
          </li>
        ))
      }
    </ul>
  </section>
</MainLayout>

<style lang="scss">
.essays {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;

  .essay {
    margin: 0.25em;
    border: dotted 1px var(--secondary);
    border-radius: .5em;
    padding: .5em 1em;
    font-size: 1.15em;
    background-color: var(--secondary);

    a {
      color: var(--primary);
    }
  }
}
</style>
