---
import { getCollection } from 'astro:content';
import MainLayout from '@layouts/MainLayout.astro';

let essays = await getCollection('essays');
essays = essays.sort((a, b) => {
  if (new Date(a.data.pubDate) < new Date(b.data.pubDate))
    return 1;
  if (new Date(a.data.pubDate) > new Date(b.data.pubDate))
    return -1;
  return 0;
});
---

<MainLayout
  title="Essays | Jose Vigil"
  description="Jose Vigil's essays"
  image=""
>
  <h2 class="dark:text-white">
    Essays
  </h3>
  <section>
    <div class="essays">
      <ul>
        <section>
          <div class="essays">
              <ul><p class="mb-3">
                <p style="font-weight:400; font-style:italic; padding-top:10px;">Experience and Vision</p>
              </p>
            </ul>
            <ul>
              {
                essays.map((e, index) => {
                  if (e.data.title.includes('How I Got Started')) {
                    let arr = e.data.title.split(" ");
                    let last = arr[arr.length-1];
                    console.log(last)
                    switch (last) {
                      case "Startups":
                        return (
                          <p style="font-weight:400; font-style:italic; padding-top:10px;">How I Got Started</p>
                          <li style="list-style-type: none;">
                            <a href={`/essays/${e.slug}`} title="">{ last }</a>
                          </li>
                        );
                        break;
                      case "Technology":
                      case "English":
                          return (
                            <li style="list-style-position: inside;">
                              <a href={`/essays/${e.slug}`} title="">{ last }</a>
                            </li>
                          );
                        break;
                    };
                  } else {
                    return (
                    <li>
                      <a href={`/essays/${e.slug}`} title="">{ e.data.title }</a>
                    </li>
                    );
                  }
                })
              }
            </ul>
          </div>
        </section>
      </ul>
    </div>
  </section>
</MainLayout>
