---
import { getCollection } from 'astro:content';
import MainLayout from '@layouts/MainLayout.astro';

let essays = await getCollection('essays');
essays = essays.sort((a, b) => {
  if (new Date(a.data.pubDate) < new Date(b.data.pubDate))
    return 1;
  if (new Date(a.data.pubDate) > new Date(b.data.pubDate))
    return -1;
  return 0;
});
---

<MainLayout
  title="Essays | Jose Vigil"
  description="Jose Vigil's essays"
  image=""
>
  <h1 class="dark:text-white">
    Essays
  </h1>
  <section>
    <div class="essays">
      <ul>
        {
          essays.map(e => (
            <li>
              <a href={`/essays/${e.slug}`} title="">{ e.data.title }</a>
            </li>
          ))
        }
      </ul>
    </div>
  </section>
</MainLayout>
