<!-- ImageModal.astro -->
---
import type { Image } from '../types/types';
var image: Image = { src: '', alt: '' };
---

<template>
  <div class="image-modal">
    <img src={image.src} alt={image.alt} />
  </div>
</template>

<style>
  /* CSS styles for the modal */
  .image-modal {
    /* Styles for the modal container */
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9999;
  }

  img {
    /* Styles for the image */
    max-width: 90%;
    max-height: 90%;
  }
</style>
