<!-- ModalManager.astro -->
---
import ImageModal from './ImageModal.astro';
import type { Image } from '../types/types';
export {openModal, closeModal};

var modalVisible = false;
var modalImage = { src: '', alt: '' };
var image: Image = { src: '', alt: '' };

function openModal(image: Image): void {
  console.log("openModal is called");
  modalImage = { src: image.src, alt: image.alt };
  modalVisible = true;
}

function closeModal() {
  modalVisible = false;
}

---
<template>
  <div class="modal" class={modalVisible ? 'show' : ''}>
    <div class="modal-content">
      <span class="close"  onClick:closeModal()>&times;</span>
      <ImageModal {modalImage} />
    </div>
  </div>
</template>


